name: Continuous Integration
on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6.0.1
              with:
                  submodules: "true"

            - name: Build website
              run: |
                  sed -i 's|BASE_URL|${{ vars.BASE_URL }}|g' hugo.yaml
                  echo "$(<hugo.yaml)"
                  apt-get install -y hugo
                  hugo version
