name: Continuous Integration
on:
    push:
        branches:
            - main
env:
    image_tag: ${{vars.REGISTRY_USER}}/blog

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.1
              with:
                  submodules: "true"

            - name: Publish blog
              run: |
                  sudo snap install hugo
                  hugo

            - name: Build Docker image
              id: image_tag
              run: |
                  docker build -t ${{ env.image_tag }} -t ${{ env.image_tag }}/${GITHUB_SHA::7} .
            - name: Push Docker image
              run: |
                  docker login -u ${{vars.REGISTRY_USER}} -p ${{secrets.ACCESS_TOKEN}}
                  docker push --all-tags ${{ env.image_tag }}

    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to Server
              run: |
                  echo "Deploying image ${{ env.image_tag }} to server..."
