name: Continuous Integration
on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6.0.1

            - name: Build website
              run: |
                  ls -lha
