name: Continuous Integration
on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        outputs:
            image_tag: ${{ steps.meta.outputs.image_tag }}
        steps:
            - uses: actions/checkout@v6.0.1

            - name: Compute image tag
              id: meta
              run: echo "image_tag=${{ vars.REGISTRY_USER }}/blog/${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

            - name: Build Docker image
              run: docker build -t ${{ steps.meta.outputs.image_tag }} .

            - name: Push Docker image
              run: |
                  docker login -u ${{ vars.REGISTRY_USER }} -p ${{ secrets.ACCESS_TOKEN }}
                  docker push ${{ steps.meta.outputs.image_tag }}

    deploy:
        needs: build
        uses: hanatole/deployment/.github/workflows/cd.yml@main
        with:
            project_directory: /srv/blog
            traefik_rule: "Host(`ah.imc.chillo.fr`)"
            network_name: traefiknetwork
            service_name: blog
            service_port: 80
            docker_image: ${{ needs.build.outputs.image_tag }}
        secrets: inherit
