name: Continuous Integration and Deployment
on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        outputs:
            tag: ${{ steps.meta.outputs.tag }}
        steps:
            - uses: actions/checkout@v6.0.2
              with:
                  submodules: recursive

            - name: Set up Hugo
              uses: peaceiris/actions-hugo@v3.0.0
              with:
                  hugo-version: "0.152.2"

            - name: Compute image tag
              id: meta
              run: |
                  SHA="${{ github.sha }}"
                  test -n "$SHA"
                  echo "tag=${{ vars.REGISTRY }}/${{ vars.PROJECT }}:${SHA::7}" >> $GITHUB_OUTPUT

            - name: Login to docker registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ vars.REGISTRY }}
                  username: ${{ vars.REGISTRY_USER }}
                  password: ${{ secrets.REGISTRY_TOKEN }}

            - name: Build blog
              run: |
                  hugo

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ vars.REGISTRY }}/${{ vars.PROJECT }}:latest
                      ${{ steps.meta.outputs.tag }}

    deploy:
        needs: build
        uses: hanatole/deployer/.github/workflows/cd.yml@main
        with:
            project_directory: "/srv/blog"
            traefik_rule: "Host(`ah.imc.chillo.fr`)"
            network_name: traefiknetwork
            service_name: blog
            service_port: 80
            docker_image: ${{ needs.build.outputs.tag }}
            tier: "frontend"
        secrets: inherit
